* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    padding-top: 50px;
    font-family: sans-serif;

}

/*-------header-------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: #EA5045;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}

header .logo {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
}

header nav {
    float: right;

}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;

}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 2rem;


}

.profile_icon {
    float: right;
    margin-top: calc((50px - 16px) / 2);
    margin-right: 16px;
}

.menu_toggle {
    color: #ffffff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;

}

/*------- Header slut-------*/


/*------assignment side-------*/

.section_wrapper {
    margin: 20px;
}

h2 {
    color: #EA5045;
}

.next_ass,
.upload_ass,
.theme_descr {
    background-color: #F2F1F0;
    height: 70px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.upload_icon,
.link_icon,
.arrow_icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.open .arrow_icon {
    transform: rotate(180deg);
}

.previous_ass {
    height: 70px;
    padding: 10px;
    position: relative;
    display: none;
}

.open .previous_ass {
    display: block;
}

.assignments h3,
.assignments p {
    margin: 5px;
}

.section_next,
.section_upload,
.section_previous {
    margin-top: 40px;
}



/*-----login-----*/

.login {
    padding-top: 0;
    background-color: #f4f2f2;
}

.login header {
    height: 150px;
    position: relative;
}

.login header .logo img {
    width: 30vw;
    max-width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login input[type="email"],
.login input[type="password"],
.login input[type="submit"],
.login .login_facebook {
    display: block;
    width: 80vw;
    max-width: 500px;
    height: 50px;
    padding: 20px;
    border-radius: 25px;
    border: none;
    margin: 0 auto 15px;
    color: #ea5045;
}

.login input:focus {
    outline: none;
}


.login .label_save_login {
    display: block;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto 15px;
    position: relative;
    vertical-align: middle;
}

.login .label_save_login .save_login {
    display: none;
}

.login .label_save_login .new_checkbox {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}

.login .label_save_login input:checked ~ .new_checkbox::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ea5045;
}

.login input[type="submit"] {
    background-color: #ea5045;
    color: #ffffff;
    font-weight: bold;

}

.login .login_facebook {
    background-color: #ffffff;
    color: #ea5045;
    text-align: center;
    position: relative;
}

.login .login_facebook::before {
    position: absolute;
    left: 25px;
    top: 15px;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url(assets/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.login .forgot_password {
    display: block;
    text-align: center;
}

/*-------login slut-------*/

/*-------upload assignment-----*/

.upload_page {
    background-color: #f4f2f2;
}

.upload_page .date_from,
.upload_page .date_to {
    font-size: 1.4rem;
    margin: 5px 0;
    font-weight: bold;
}

.upload_page input[type="text"],
.upload_page input[type="url"],
.upload_page input[type="submit"] {
    display: block;
    width: 80vw;
    max-width: 500px;
    height: 50px;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    color: #ea5045;
}

.preview_container {
    text-align: right;
}

.upload_page .preview_url {
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ea5045;
    color: #ea5045;
    margin: 0 0 10px;
}

.upload_page input:focus {
    outline: none;
}

.upload_page input[type="submit"] {
    background-color: #ea5045;
    color: #ffffff;
}

.upload_page h2 {
    color: #000000;
}

/*-------upload assignment slut----*/


/*-----dashboard start-----*/



.container {
    background-color: #FAF7F7;
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px 125px 125px;
    grid-gap: 10px;
    justify-content: center;
    padding: 20px;
    color: #EA847C;
    font-size: 12px;
    font-weight: bold;
}

a {
    color: #EA847C;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.item {
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 23px 0
}

.tech {
    grid-column: 1 / span 2;
    font-size: 20px;
}

.aktuelt {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
    font-size: 40px;
}

/*------------Header-------*/

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }

    .menu_toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #3F3140;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 25px;
    }

}




@media (min-width: 992px) {
    header nav ul li a:hover {
        color: #F58E81;
        background-color: #ffffff;

    }
