/*----------------------------------------------
1: Globale regler
2: Header og navigation
3: Login side
4: Dashboard side
5: Assignment side
6: Upload side
7: Media Queries
----------------------------------------------*/

/*----------------------------------------------
1: Globale regler
----------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding-top: 50px;
}

.section_wrapper {
    margin: 20px;
}

h2 {
    color: #EA5045;
}

a {
    color: #EA847C;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

/*----------------------------------------------
2: Header og navigation
----------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: #EA5045;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}

/* Line-height sættes til 50px lige som height, dette gøres da teksten altid står i midten af line-height. Logo'et er et inline element og beregnes derfor som tekstlinje, derfor står det i midten.  */
header .logo {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

/*Fjerner dots så listen står uden dots eller tal foran*/
header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 2rem;
}

.profile_icon {
    float: right;
    margin-top: calc((50px - 16px) / 2);
    margin-right: 16px;
}

.logout_icon img {
    width: 16px;
    height: 16px;
    float: right;
    margin-top: calc((50px - 16px) / 2);
    margin-right: 16px;
}

/* burger menu */

.menu_toggle {
    color: #ffffff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-top: calc((50px - 16px) / 2);
    margin-right: 16px;
    width: 16px;
}

.menu_toggle span {
    display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

/* Ændre aksen hvor der roteres fra*/
.menu_toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu_toggle span:last-child {
    transform-origin: 0% 100%;
    margin-bottom: 0;
}

/* Ændrer de tre span classes til et kryds når menuen er aktiv */

header nav.active ~ .menu_toggle span {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    width: 23px;
}

/* Gemmer den midterste */

header nav.active ~ .menu_toggle span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Den sidste streg går i den anden retning */

header nav.active ~ .menu_toggle span:nth-child(1) {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

/*----------------------------------------------
3: Login side
----------------------------------------------*/

.login {
    padding-top: 0;
    background-color: #f4f2f2;
}

.login header {
    height: 150px;
    position: relative;
}

.login header .logo img {
    width: 30vw;
    max-width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login input[type="email"],
.login input[type="password"],
.login input[type="submit"],
.login .login_facebook {
    display: block;
    width: 80vw;
    max-width: 500px;
    height: 50px;
    padding: 20px;
    border-radius: 25px;
    border: none;
    margin: 0 auto 15px;
    color: #ea5045;
}

/* Fjerner den blå UX kant der kommer rundt om kassen i browseren, det er især ikke designvenligt når der er afrundede hjørner*/
.login input:focus {
    outline: none;
}

.login .label_save_login {
    display: block;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto 15px;
    position: relative;
    vertical-align: middle;
}

/*Fjerner default tjekboks*/
.login .label_save_login .save_login {
    display: none;
}

/*Design af ny tjekboks - hvide cirkel*/
.login .label_save_login .new_checkbox {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}

/*Design af rødt afkrydsnings felt i tjekboks */
.login .label_save_login input:checked ~ .new_checkbox::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ea5045;
}

.login input[type="submit"] {
    background-color: #ea5045;
    color: #ffffff;
    font-weight: bold;
}

.login .login_facebook {
    background-color: #ffffff;
    color: #ea5045;
    text-align: center;
    position: relative;
}

/*facebook ikon */
.login .login_facebook::before {
    position: absolute;
    left: 25px;
    top: 15px;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url(assets/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.login .forgot_password {
    display: block;
    text-align: center;
}

/*----------------------------------------------
4: Dashboard side
----------------------------------------------*/

/*Design af grid,rækker og colonner. font size og farve */
.container {
    background-color: #FAF7F7;
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px 125px 125px;
    grid-gap: 10px;
    justify-content: center;
    padding: 20px;
    color: #EA847C;
    font-size: 12px;
    font-weight: bold;
}

.item {
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 23px 0
}

.tech {
    grid-column: 1 / span 2;
    font-size: 20px;
}

.news {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
    font-size: 40px;
}

/*----------------------------------------------
5: Assignments side
----------------------------------------------*/

.next_ass,
.upload_ass,
.theme_descr {
    background-color: #F2F1F0;
    height: 70px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.upload_icon,
.link_icon,
.arrow_icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.open .arrow_icon {
    transform: rotate(180deg);
}

.previous_ass {
    height: 70px;
    padding: 10px;
    position: relative;
    display: none;
}

.open .previous_ass {
    display: block;
}

.assignments h3,
.assignments p {
    margin: 5px;
}

.section_next,
.section_upload,
.section_previous {
    margin-top: 40px;
}

/*----------------------------------------------
6: Upload side
----------------------------------------------*/

.upload_page {
    background-color: #f4f2f2;
}

.upload_page .section_wrapper {
    width: 80vw;
    max-width: 500px;
    margin: 50px auto;

}

.upload_page .date_from,
.upload_page .date_to {
    font-size: 1.4rem;
    margin: 5px 0;
    font-weight: bold;
}

.upload_page input[type="text"],
.upload_page input[type="url"],
.upload_page input[type="submit"] {
    display: block;
    width: 80vw;
    max-width: 500px;
    height: 50px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    color: #ea5045;
}

.preview_container {
    text-align: right;
}

.upload_page .preview_url {
    display: inline;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ea5045;
    color: #ea5045;
    margin: 0 0 10px;
}

.upload_page input:focus {
    outline: none;
}

.upload_page input[type="submit"] {
    background-color: #ea5045;
    color: #ffffff;
}

.upload_page label {
    color: #000000;
    margin: 30px 0 7px 0;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

/*----------------------------------------------
7: Media Queries
----------------------------------------------*/
/* På mobil og ipad med potræt mode. */
@media (max-width: 991px) {

    header {
        padding: 0 20px;
    }

    .menu_toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #3F3140;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 25px;
    }
}

/* På landscape mode og webskærme*/
@media (min-width: 992px) {
    header nav ul li a:hover {
        color: #F58E81;
        background-color: #ffffff;
    }

    header nav ul li a {
        font-size: 1.6rem;
        padding: 0 10px;
    }

    .logout_icon img {
        margin-right: 10px;
    }
}
